{ 
ansible_managed: "{{ ansible_managed }}"
,
"hostvars": {
{% for key in groups["all"] %}
"{{key}}": {{ hostvars[key] |to_nice_json }}
,
{% endfor %}

"localhost": {{hostvars['localhost'] | to_nice_json}}
},
"vars":
{{ vars | to_nice_json }}
,
"environment":
{{ environment | to_nice_json }}
,
"group_names":
{{ group_names | to_nice_json }}
,
"groups":
{{ groups | to_nice_json }}

}
